@import url('http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css');
@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet');

h1, h2, h3, h4, h5, h6{
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 60px;
    line-height: 100px;
    align-self: center;
    align-content: center;
    border:0px;
}
 
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

/* h1{
    padding-top: 0px; 
    padding-bottom: 0px; */
    /* text-align: center; */
    /* align-self: center;
    align-content: center;
    border:0px;
} */

body {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    /* font-family: Georgia, sans-serif; */
    color: #E6F7FF;
    margin: 0;
    padding: 0;
    background-color: #17001A;

    width: 100%;
    align-items : center;
    height: 100%;
     

    /* Background image is centered vertically and horizontally at all times */
    /* background-position: center center; */

    /* Background image doesn't tile */
    /* background-repeat: no-repeat; */

    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    /* background-attachment: fixed; */

    /* This is what makes the background image rescale based
    on the container's size */
    /* background-size: cover; */

    /* Location of the image */
    /* background-image:url("/Zanskar-GC/public/views/matches/Images/Bkg-Wolf.png") ; */
    
}

header {
    /* background-color: #909090; */
    background-color: #17001A;
    display:flex;
    justify-content: center;
    /* color: rgb(238, 190, 255); */
    color: #fff6cb;
    text-align: center;
    /* padding: 1em 0; */
    height: 5em;
}

nav {
    /* background-color: #444; */
    background-color: #17001A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    /* font-family: 'nobile', Helvetica, Arial, sans-serif; */
    font-family: 'Corben', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: white;
    text-align: center;
    padding: 8px 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff6cb;
    color: #17001A;
}

main {
    display: flex;
    justify-content: flex-start;
    height: 500px;
    width: 98%;
    /* background-color:rgb(73, 42, 165); */
    opacity: 0.4;
    margin: 0 auto;
    /* border: 2px solid brown; */
    flex-direction: row;
    flex-wrap:wrap;
}
#Boxes div {
    /* width: 300px;
    height: 300px; */
    /* max-width: 500px; */
    /* flex-basis: 500px; */
    text-align: center;
    /* flex-grow: 1; */
}
div:nth-of-type(2n) {
    /* background-color: aqua; */
    flex-grow: 3;
    /* flex-shrink: 1; */
}
div:nth-of-type(2n-1) {
    /* background-color: teal; */
    flex-grow: 1;
    /* flex-shrink: 3; */
}
footer {
    /* background-color: #333; */
    color: #fff6cb;
    text-align: right;
    padding: 2em 3;
    position: fixed;
    bottom: 0;
    width: 99.5%;
}
