h1{
    /* padding-top: 0px; 
    padding-bottom: 0px; */
    /* text-align: center; */
    align-self: center;
    align-content: center;
    border:0px;
}
body {
    font-family: Georgia, sans-serif;
    color: #E6F7FF;
    margin: 0;
    padding: 0;
    background-color: #000740;
}

header {
    background-color: #909090;
    display:flex;
    justify-content: center;
    color: rgb(238, 190, 255);
    text-align: center;
    /* padding: 1em 0; */
    height: 3em;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    justify-content: flex-start;
    height: 500px;
    width: 98%;
    background-color:rgb(73, 42, 165);
    opacity: 0.4;
    margin: 0 auto;
    border: 2px solid brown;
    flex-direction: row;
    flex-wrap:wrap;
}
#Boxes div {
    width: 600px;
    height: 200px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
