<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/aa7ea89012.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sheets/styles.css">
    <title>Zanskar GC</title>

</head>

<body>
    <header>
        <h1>Zanskar Sports</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#cricket">Cricket</a></li>
            <li><a href="#football">Football</a></li>
            <li><a href="#volleyball">Volleyball</a></li>
        </ul>
    </nav>
    <main id="Boxes">
        <div id="Todays">
            <h4>Today's Matches</h4>
            <ul>
                <% for(let match of data.matchesToday) { %>
                    <li><span style="font-size: 20px; color: red;">
                        <i class="fa-solid fa-basketball fa-bounce" style="--fa-animation-duration: 0.75s;" ></i>
                    </span>
                    <%="Zanskar VS " + match.opponent+" ["+match.sport+"]"+"- "+match.display %></li>
                <% } %>
            </ul>
        </div>
        <div id="CenterBox">TBDY</div>
        <div id="Upcoming">
            <h5>Upcoming Matches</h5>
        </div>
    </main>

    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <footer>
        <p>&copy; 2024 Zanskar GC (Madhav Maheshwari & Naman & Suchir & Aviral)</p>
    </footer>
    <script src="./public/app.js"></script>
</body>

</html>
